@model IEnumerable<MotorcycleTracker.Models.MotorcycleDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body background="~/image/H4.jpg">
<h2>Details of Motorcycle</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Add Details", "Create", "item", new { @class = "btn btn-primary" })
    </p>
}
<table class="table">
    <tr>
        <th>
            Motorcycle Name
        </th>
        <th>
            Brand
        </th>
        <th>
            Model
        </th>
        <th>
            Made In Country
        </th>
        <th>Action Links</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Motorcycle.MotorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotorBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotorModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.DetailsId }, new { @class = "btn btn-success", @style = "margin-left:5px;" })
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.DetailsId }, new { @class = "btn btn-warning", @style = "margin-left:5px;" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.DetailsId }, new { @class = "btn btn-danger", @style = "margin-left:5px;" })
                }
                </td>
        </tr>
    }

</table>
     </body>
